<h1>Editing list</h1>

<%= form_with(model: @list, local: true) do |form| %>
<p>
  <%= form.label :name_prodact %><br>
  <%= form.text_field :name_prodact %>
</p>

<p>
  <%= form.label :name_enterprise %><br>
  <%= form.text_field :name_enterprise %>
</p>

<p>
  <%= form.label :price %><br>
  <%= form.text_field :price %>
</p>

<p>
  <%= form.submit %>
</p>
<% end %>

<%= link_to 'Back', lists_path %>
