<h1>Listing prices of prodacts</h1>

<%= link_to 'Add new', new_list_path%>

<table class="table table-striped">
  <tr>
    <th>Prodact</th>
    <th>Enterprise</th>
    <th>Price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @lists.each do |list| %>
    <tr>
      <td><%= link_to list.prodact.name, prodact_path(list.prodact) %></td>
      <td><%= link_to list.enterprise.name_ent, enterprise_path(list.enterprise) %></td>
      <td><%= list.price %></td>
      <td><%= link_to 'Show', list_path(list) %></td>
      <td><%= link_to 'Edit', edit_list_path(list) %></td>
      <td><%= link_to 'Delete', list_path(list),
              method: :delete,
              data: {confirm: 'Are you shure?'} %></td>

    </tr>
  <% end %>
</table>
