<%= form_with scope: :list, url: lists_path, local: true do |form| %>
  <p>
    <%= form.collection_select( :prodact_id, Prodact.all, :id, :name) %>
  </p>
  <p>
    <%= form.collection_select( :enterprise_id, Enterprise.all, :id, :name_ent) %>
  </p>
  <p>
    <%= form.label :price %><br>
    <%= form.text_field :price %>
  </p>

  <p>
    <%= form.submit "Create", class: "btn btn-primary btn-lg active"%>
  </p>
<% end %>
