<p>
  <strong>Prodact:</strong>
  <%= @list.prodact.name %>
</p>

<p>
  <strong>Enterprise:</strong>
  <%= @list.enterprise.name_ent %>
</p>

<p>
  <strong>Price</strong>
  <%= @list.price%>
</p>

<%= link_to 'Edit', edit_list_path(@list)%> |

<%= link_to 'To the list', lists_path%>
