

<h1>Listing prodacts</h1>

<%= link_to 'Add new', new_prodact_path%>

<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Number</th>
    <th>Group</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @prodacts.each do |prodact| %>
    <tr>
      <td><%= link_to prodact.name, prodact_path(prodact) %></td>
      <td><%= prodact.number %></td>
      <td><%= prodact.group %></td>
      <td><%= link_to 'Show', prodact_path(prodact) %></td>
      <td><%= link_to 'Edit', edit_prodact_path(prodact) %></td>
      <td><%= link_to 'Delete', prodact_path(prodact),
              method: :delete,
              data: {confirm: 'Are you shure?'} %></td>

    </tr>
  <% end %>
</table>
