

<h1>Listing prodacts</h1>

<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Number</th>
    <th>Group</th>
    <th></th>
    <th></th>
  </tr>

  <% @prodacts.each do |prodact| %>
    <tr>
      <td><%= prodact.name %></td>
      <td><%= prodact.number %></td>
      <td><%= prodact.group %></td>
      <td><%= link_to 'show', prodact_path(prodact) %></td>
      <td><%= link_to 'Edit', edit_prodact_path(prodact) %></td>
    </tr>
  <% end %>
</table>
