<h1> Hello sweetie </h1>

<h3>Search Result</h3>

    <table class="table table-striped">
      <tr>
        <th>Name</th>
        <th>Number</th>
        <th>Group</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

      <% @results.each do |result| %>
        <tr>
          <td><%= result.name %></td>
          <td><%= result.number %></td>
          <td><%= result.group %></td>
          <td><%= link_to 'Show', prodact_path(result) %></td>
          <td><%= link_to 'Edit', edit_prodact_path(result) %></td>
          <td><%= link_to 'Delete', prodact_path(result),
                  method: :delete,
                  data: {confirm: 'Are you shure?'} %></td>

        </tr>
      <% end %>
    </table>
    <%= link_to 'To the list', prodacts_path%>
