<p>
  <strong>Name:</strong>
  <%= @prodact.name %>
</p>

<p>
  <strong>Number:</strong>
  <%= @prodact.number %>
</p>

<p>
  <strong>Group</strong>
  <%= @prodact.group%>
</p>

<table class="table table-striped">
  <tr>
    <th>Name of prodact</th>
    <th>Data</th>
    <th>Name of enterprise</th>
    <th>City</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @lists.each do |list| %>
    <% if list.prodact.name.eql?(@prodact.name) %>

      <tr>
        <td><%= @prodact.name %></td>
        <td><%= list.updated_at%>
        <td><%= list.enterprise.name_ent %></td>
        <td><%= list.enterprise.address.scan(/[A-Z][a-x]*/)[1] %></td>
        <td><%= link_to 'Show', enterprise_path(list.enterprise) %></td>
        <td><%= link_to 'Edit', edit_enterprise_path(list.enterprise) %></td>
        <td><%= link_to 'Delete', enterprise_path(list.enterprise),
                method: :delete,
                data: {confirm: 'Are you shure?'} %></td>

      </tr>
    <% end %>
  <% end %>
</table>

<%= link_to 'Edit', edit_prodact_path(@prodact)%> |

<%= link_to 'To the list', prodacts_path%>
