<h1>Editing enterprise</h1>

<%= form_with(model: @enterprise, local: true) do |form| %>
<p>
  <%= form.label :name_ent %><br>
  <%= form.text_field :name_ent %>
</p>

<p>
  <%= form.label :code %><br>
  <%= form.text_field :code %>
</p>

<p>
  <%= form.label :address %><br>
  <%= form.text_field :address %>
</p>

<p>
  <%= form.label :phone %><br>
  <%= form.text_field :phone %>
</p>

<p>
  <%= form.submit %>
</p>
<% end %>

<%= link_to 'Back', enterprises_path %>
