<h1>Listing enterprises</h1>

<%= link_to 'Add new', new_enterprise_path%>

<table class="table table-striped">
  <tr>
    <th>Enterprise</th>
    <th>Code</th>
    <th>Address</th>
    <th>Phone</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @enterprises.each do |enterprise| %>
    <tr>
      <td><%= link_to enterprise.name_ent, enterprise_path(enterprise) %></td>
      <td><%= enterprise.code %></td>
      <td><%= enterprise.address %></td>
      <td><%= enterprise.phone %></td>
      <td><%= link_to 'Show', enterprise_path(enterprise) %></td>
      <td><%= link_to 'Edit', edit_enterprise_path(enterprise) %></td>
      <td><%= link_to 'Delete', enterprise_path(enterprise),
              method: :delete,
              data: {confirm: 'Are you shure?'} %></td>

    </tr>
  <% end %>
</table>
