<h1>Information about enterprises</h1>

<p>
<a href="enterprises/new" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Add new</a>
</p>

<table class="table table-striped">
  <tr>
    <th>Enterprise</th>
    <th>Code</th>
    <th>Address</th>
    <th>Phone</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @enterprises.each do |enterprise| %>
    <tr>
      <td><%= link_to enterprise.name_ent, enterprise_path(enterprise) %></td>
      <td><%= enterprise.code %></td>
      <td><%= enterprise.address %></td>
      <td><%= enterprise.phone %></td>
      <td><%= link_to 'Show', enterprise_path(enterprise) %></td>
      <td><%= link_to 'Edit', edit_enterprise_path(enterprise) %></td>
      <td><%= link_to 'Delete', enterprise_path(enterprise),
              method: :delete,
              data: {confirm: 'Are you shure?'} %></td>

    </tr>
  <% end %>
</table>

<p>
  <%= link_to 'See extended information about enterprises', watch_path_url%>
</p>
