<p>
  <strong>Name:</strong>
  <%= @enterprise.name_ent %>
</p>

<p>
  <strong>Code:</strong>
  <%= @enterprise.code %>
</p>

<p>
  <strong>Address</strong>
  <%= @enterprise.address%>
</p>

<p>
  <strong>Phone</strong>
  <%= @enterprise.phone%>
</p>

<p>
  <strong>List of prodacts</strong>
</p>

<table class="table table-striped">
  <tr>
    <th>Name of enterprise</th>
    <th>Data</th>
    <th>Name of prodact</th>
    <th>Price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% @lists = @lists.group_by {|list| list.prodact.group} %>
<% @lists.each do |list| %>
<% list = list[1]%>
  <% list.each do |list1| %>
    <% if list1.enterprise.name_ent.eql?(@enterprise.name_ent)%>

      <tr>
        <td><%= @enterprise.name_ent %></td>
        <td><%= list1.updated_at%>
        <td><%= list1.prodact.name %></td>
        <td><%= list1.price %></td>

      </tr>
    <%end%>
  <%end%>
<% end %>

<%= link_to 'Edit', edit_enterprise_path(@enterprise)%> |

<%= link_to 'To the list', enterprises_path%>
