<%= form_with scope: :market, url: markets_path, local: true do |form| %>
  <p>
    <%= form.collection_select( :enterprise_id, Enterprise.all, :id, :name_ent) %>
  </p>
  <p>
    <%= form.label :name_mark %><br>
    <%= form.text_field :name_mark %>
  </p>
  <p>
    <%= form.label :phone %><br>
    <%= form.text_field :phone %>
  </p>
  <p>
    <%= form.label :name_cont %><br>
    <%= form.text_field :name_cont %>
  </p>

  <p>
    <%= form.submit "Create", class: "btn btn-primary btn-lg active"%>
  </p>
<% end %>
