<%= form_with scope: :boss, url: bosses_path, local: true do |form| %>
<p>
  <%= form.collection_select( :enterprise_id, Enterprise.all, :id, :name_ent) %>
</p>

  <p>
    <%= form.label :full_name %><br>
    <%= form.text_field :full_name %>
  </p>
  <p>
    <%= form.label :job %><br>
    <%= form.text_field :job %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
