<!DOCTYPE html>
<html>
  <head>
    <title>Lab2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <nav class="navbar navbar-inverse">
   <ul class="nav navbar-nav">
     <li><%= link_to 'Prodacts', prodacts_path%></li>
     <li><%= link_to 'Enterprises', enterprises_path%></li>
     <li><%= link_to 'List of prices', lists_path%></li>
     <li><%= link_to 'List of bosses', bosses_path%></li>
     <li><%= link_to 'Market department', markets_path%></li>
   </ul>
  </nav>
  </head>
<div class="container">
  <body>
    <%= yield %>
  </body>
</div>
</html>
